:root {
	--color-altex-blue: #006cb4;
	--color-altex-red: #e11b22;
	--color--error: #b01212;
	--color--success: #0a703d;
	--color--focus: #0074c2;
	--color-grey-100: #f3f3f3;
	--color-grey-200: #e6e6e6;
	--color-grey-300: #d9d9d9;
	--color-grey-400: #cccccc;
	--color-grey-500: #b3b3b3;
	--color-grey-600: #999999;
	--color-grey-700: #808080;
	--color-grey-800: #4d4d4d;
	--color-grey-900: #1a1919;
	--color-red-100: #fdeeec;
	--color-red-200: #f6b8b1;
	--color-red-300: #f19589;
	--color-red-400: #ed7162;
	--color-red-500: #e24533;
	--color-blue-100: #cce3f3;
	--color-blue-200: #99c7e7;
	--color-blue-300: #66acda;
	--color-blue-400: #3390ce;
	--color-blue-500: #0074c2;
	--color-navy-100: #e8eaef;
	--color-navy-200: #9fabbc;
	--color-navy-300: #70819b;
	--color-navy-400: #405779;
	--color-navy-500: #102d58;
}